$white:        #FFFFFF;
$grayLight:    #E6E6E6;
$grayDark:     #545454;
$purpleLight:  #F9F8FD;
$black:        #000000;
$red:          #FFE8E8;
$green:        #ECFFE9;
$blue:         #E5FDFF;
$yellow:       #FFF7D2;
